/* ===============================
   Card 全体
================================= */
.spotCard {
    width: 100%;
    max-width: 600px;
    background: #f4f4f4;
    border: 1.2px solid #c3c3c3;
    border-radius: 24px;
    overflow: hidden;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
    display: flex;
    flex-direction: column;

    /* global.cssに統合 */
    font-family:
        "Hiragino Kaku Gothic ProN",
        "Hiragino Sans",
        "Yu Gothic",
        "Meiryo",
        "Noto Sans JP", ;
}


/* ===============================
   ヘッダー
================================= */
.cardHeader {
    display: flex;
    align-items: center;
    padding-right: 8px;
    gap: clamp(8px, 1.5vw, 16px);
}

.title {
    font-size: clamp(1.0rem, 0.25rem + 4.5vw, 2.25rem);
    font-weight: 700;
    color: #1E1E1E;
    padding: 2px 0px;
    margin-left: 5%;
    margin-right: auto;
}

.statusBadge {
    padding: 2px clamp(10px, 1.5vw, 14px);
    border-radius: 10px;
    font-size: clamp(0.75rem, 0.375rem + 1.8vw, 1.125rem);
    font-weight: 600;
}

.statusBadge.open {
    background: #e5f3ea;
    color: #3F7D58;
    border: 2px solid #3F7D58;
}

.statusBadge.closed {
    background: #ffe4c4;
    color: #EF633D;
    border: 2px solid #EF633D;
}


/* ===============================
   画像
================================= */
.cardImage {
    position: relative;
    width: 100%;
    aspect-ratio: 16 / 5;
    overflow: hidden;
}

.cardImage img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.noImagePlaceholder {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ddd;
    font-size: clamp(14px, 2vw, 18px);
}


/* ===============================
   コンテンツ
================================= */
.cardContents {
    padding:
        5px
        /* top */
        2%
        /* right */
        5px
        /* bottom */
        7%;
        /* left */
    display: flex;
    flex-direction: column;
    gap: 4px clamp(10px, 1.5vw, 16px);
}

.row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    column-gap: 8px;
}

.tagsRow {
    display: flex;
    flex-wrap: wrap;
    gap: clamp(6px, 1vw, 10px);
}

.tag {
    font-size: clamp(0.75rem, 0.375rem + 1.8vw, 1.125rem);
    font-weight: 550;
    color: #3F7D58;
}


/* 価格帯 */
.pieceRange {
    display: flex;
    align-items: center;
    gap: clamp(6px, 1vw, 10px);
    font-size: clamp(0.875rem, 0.375rem + 2.5vw, 1.375rem);
    font-weight: 600;
    color: #2f4f3f;
    font-family:
        "Yu Gothic";
        
}

/* アイコン丸背景 */
.icon {
    display: flex;
    align-items: center;
    justify-content: center;

    width: clamp(1rem, 0.75rem + 2.0vw, 2.0rem);
    height: clamp(1rem, 0.75rem + 2.0vw, 2.0rem);

    border-radius: 20%;
}

.icon svg {
    stroke: white;
    stroke-width: 3;
    width: 60%;
    height: 60%;
}


/* ===============================
   フッター
================================= */
.cardFooter {
    padding: 0px 5% 6px 5%;
    display: flex;
    gap: clamp(12px, 2vw, 20px) 5%;
}

.cardFooter button {
    flex: 1;
    font-size: clamp(0.75rem, 0.5rem + 2.0vw, 1.5rem);
    padding: 0px clamp(8px, 1vw, 14px);
    height: clamp(34px, 8vw, 44px);
    border: 2px solid #3F7D58;
}
