.skeleton {
    background-color: #e0e0e0;
    position: relative;
    overflow: hidden;
    border-radius: 4px;
}

.skeleton::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
        90deg,
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 0.4) 50%,
        rgba(255, 255, 255, 0) 100%
    );
    animation: shimmer 1.5s infinite;
}

@keyframes shimmer {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(100%);
    }
}

.spotCard {
    width: 100%;
    max-width: 600px;
    background: #f4f4f4;
    /* border: 1.2px solid #c3c3c3; */
    border-radius: 14px;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    display: flex;
    flex-direction: column;
}

.cardHeader {
    display: flex;
    align-items: center;
    padding-right: 8px;
    gap: clamp(8px, 1.5vw, 16px);
    justify-content: space-between;
}

.titleContainer {
    display: flex;
    flex-direction: column;
    margin-left: 5%;
    margin-right: auto;
    padding: 2px 0px;
    width: 100%;
}

/* 1行の文字の高さ（line-height 1.5想定）に合わせた高さを指定 */
.titleSkeleton {
    width: 65%;
    font-size: clamp(0.9rem, 0.3rem + 3.8vw, 1.8rem);
    height: 1.5em; 
    border-radius: 4px;
}

/* 1行の文字の高さ ＋ 上下padding(2px*2) ＋ 上下border(1px*2) に合わせた高さを指定 */
.statusSkeleton {
    width: 60px;
    font-size: clamp(0.65rem, 0.4rem + 1.4vw, 0.95rem);
    height: calc(1.5em + 6px); 
    border-radius: 10px;
}

.headerButtons {
    display: flex;
    align-items: center;
    gap: 4px;
}

.iconSkeleton {
    width: 34px;
    height: 34px;
    border-radius: 50%;
}

.cardImage {
    width: 100%;
    aspect-ratio: 16 / 5;
}

.cardContents {
    padding: 5px 5%;
    display: flex;
    flex-direction: column;
    gap: 4px clamp(10px, 1.5vw, 16px);
}

.row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    column-gap: 8px;
}

.tagsRow {
    display: flex;
    gap: clamp(6px, 1vw, 10px);
    height: clamp(1.125rem, 0.5625rem + 2.7vw, 1.6875rem);
    align-items: center;
}

.tagItem {
    width: 50px;
    font-size: clamp(0.75rem, 0.375rem + 1.8vw, 1.125rem);
    height: 1.5em; 
    border-radius: 4px;
}

.pieceRange {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: clamp(6px, 1vw, 10px);
    height: calc(clamp(0.875rem, 0.375rem + 2.5vw, 1.375rem) * 1.5);
}

.priceSkeleton {
    width: 60px;
    font-size: clamp(0.875rem, 0.375rem + 2.5vw, 1.375rem);
    height: 1.5em;
    border-radius: 4px;
}

.cardFooter {
    padding: 0px 5% 10px 5%;
    display: flex;
    align-items: center;
    gap: 8px;
}

.buttonSkeleton {
    flex: 1;
    height: clamp(34px, 8vw, 44px);
    border-radius: 9999px;
}

.heartSkeleton {
    flex: 0 0 clamp(34px, 8vw, 44px);
    width: clamp(34px, 8vw, 44px);
    height: clamp(34px, 8vw, 44px);
    border-radius: 50%;
}
