.main {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

.menuBar {
  position: fixed;
  bottom: calc(env(safe-area-inset-bottom) + 5px);
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  width: 95vw;
  display: flex;
  justify-content: center;
}
